# dependencies
node_modules/
.pnp
.pnp.js

# build output
.next/
out/
dist/
build/

# cache
.cache/
.turbo/
.vercel/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/
*.swp
*.swo

# typescript
*.tsbuildinfo
next-env.d.ts
